/* Spectrum Industrial Website */

/* Global Settings */

body{
    background-color: @spectrum_black;
    color: @spectrum_white;
    font-family: 'Montserrat', sans-serif;
}

/* Colours */

.red{
    color: @spectrum_red;
}
.redbg{
    background-color: @spectrum_red !important;
}
.grey{
    color: @spectrum_grey;
}
.black{
    color: @spectrum_black;
}
.white{
    color: @spectrum_white;
}

/* Margins */

.mt35{
    margin-top: 35px;
}
.mt40{
    margin-top: 40px;
}
.mb35{
    margin-bottom: 35px;
}
.mb40{
    margin-bottom: 40px;
}

/* Branding */

div.logo{
    height: 150px;
    img{
        height: 150px;
    }
}


/* Navigation */
div.header{
    background-color: @spectrum_white;
    width: 100%;
    div.advert{
        margin-top: 30px;
        width: 100%;
    }
    div.shopping-cart{
        margin-top: 55px;
        text-align: center;
       
        p{
        font-size: 16px;
           
        }
    }
    div.search{
        margin-top: 35px;
        div.redborder{
            border: 5px solid @spectrum_red;
        }
        label{
            font-weight: 700;
            margin-bottom: -10px;
        }
        form{
            i{
                background-color: @spectrum_red;
                padding: 21px;                
            }
            input.form-control.search{
                border: 5px solid @spectrum_red;
                padding: 14px !important;      
                &:focus{
                    outline: none !important;
                }          
            }
        }
    }
}
div.searchform{
    margin-top: -10px;
    input{
        padding: 15px;
        width: 80%;
        border: 5px solid @spectrum_red;
    }
}
button.search{
    background-color: @spectrum_red;
    color: @spectrum_white;
    border: 2px solid @spectrum_red;
    margin-left: -5px;
}
nav{
    &.bg-dark-spectrum-topnav{
        background-color: @spectrum_red;
        color: @spectrum_white;
        font-family: 'Montserrat', sans-serif;
        div.topnav-right{
            text-align: right;
            margin-top: 10px;
            font-size: 14px;
        }
        ul{
            &.nav{
               &.light{
                    a{
                        color: @spectrum_white;
                        &:hover{
                            color: @spectrum_grey;
                        }
                    }
               }
            }
        }
        i{
            color: @spectrum_white;
            transition: all 0.5s;
            &:hover{
                color: @spectrum_grey;
                transition: all 0.5s;
            }
        }
    }
    &.bg-dark-spectrum-mainnav{
        background-color: @spectrum_black;
        color: @spectrum_white;
        border-bottom: 5px solid @spectrum_red;
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
        ul{
            &.nav{
               &.light{
                    a{
                        color: @spectrum_white;
                        &:hover{
                            color: @spectrum_red;
                        }
                    }
               }
            }
        a.nav-link{
            color: @spectrum_white;
            transition: all 0.5s;
            font-size: 14px;
            &:hover{
                color: @spectrum_red;
                transition: all 0.5s;
            }
        }
        a.nav-item{
            font-size: 12px;
        }
        }        
    }
}
div.branding{
    padding-top: 30px;
    padding-bottom: 30px; 
    background-color: @spectrum_white;
    overflow: hidden;
    width: 100%;    
}
div.dropdown-menu{
    &.mega{
        div.container{
            width: 80vw;  
            padding: 20px;       
            div.nav-item{
                margin-top: 10px;
                img{
                    width: 50px;
                    height: 50px;
                }
                a{
                    color: @spectrum_grey;
                    text-decoration: none;
                    font-weight: 700;
                    padding-left: 10px;
                    &:hover{
                        color: @spectrum_red;
                    }
                }
            }   
        }
        div.menu-advert{
            margin-top: 25px;            
            img{
                width: 100%;
                margin-top: 25px;
                margin-bottom: -25px;
                height: 100px;
            }
        }
    }
}

/* Slider */

div.carousel-inner{    
    height: 500px;
}
img{
    &.slide{
        width: 100%;       
    }
}

/* content areas */

div.content-area{
    margin-top: 35px;
    div.catsheader{
        background-color: @spectrum_red;
        color: @spectrum_white;
        padding-top: 25px;
        padding-bottom: 5px;
        padding-left: 10px;
        text-align: left;
        p{
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 14px;
        }
    }    
    div.categorybox{
        background-color: @spectrum_grey;
        border-bottom: 3px solid @spectrum_red;
        div.catboxheader{
            background-color: @spectrum_black;
            color: @spectrum_white;
            padding: 10px;

        }
    }
}

/* Footer */

footer.spectrum-dark{
    background-color: @spectrum_black;
    border-top: 3px solid @spectrum_red;
    margin-top: 35px;
    padding-top: 25px;
    color: @spectrum_white;
    p{
        font-size: 14px;
    }
    div.newsletter{        
        color: @spectrum_white;
        text-align: center;
        margin-top: 25px;
    }
    div.copyright{
        font-size: 8px;
        text-align: center;
    }
    hr{
        border-bottom: 1px solid @spectrum_grey;
    }
}

/* News Items */

div.news{
    margin-top: 35px;
}
div.newsimage{
   img{
       border-radius: 5px;
       width: 100%;
   }
}
div.newsinfo{
    color: @spectrum_grey;
}

/* Invididual News Items */

div.featureimage{
    img{
        width: 100%;
        max-height: 500px;
    }
}
div.newsdata{
    margin-top: 35px;
}

div.tags{
    font-size: 12px;
}
div.post{
    a{
        color: @spectrum_red;
        &:hover{
            color: @spectrum_grey;
        }
    }
}


/* Sidebar */

div.sidebar{
    background-color: @spectrum_sidebargrey;
    color: @spectrum_grey;
}

/* Sidebar Widgets */

hr.sidebar{
    border-bottom: 2px solid @spectrum_red;
}

/* Recent News Widget */
div.newsheader-sidebar{
    padding: 10px;
}
ul.recentnews{
    li.newsitem{       
        list-style: none;
        font-size: 12px;
        margin-left: -25px;
        a{
            color: @spectrum_grey;
            font-weight: 800;
            &:hover{
                color: @spectrum_red;
            }
        }
        i.user{
            padding-left: 10px;
        }
    }
}

/* Contact Widget */
div.contactdata{
    background-color: @spectrum_red;
    color: @spectrum_white;
    padding: 10px;    
   position: relative;
    h4{
        font-weight: 800;
    }
    a{
        color: @spectrum_white;
        text-decoration: none;
        font-weight: 600;
        &:hover{
            color: @spectrum_grey;
        }
    }
    hr.contact{
        border-bottom: 2px solid @spectrum_white;
    }
    :after {
        position:absolute;
        content: " ";
        display:block;
        left:0;
        bottom:-20px;
        width: 100%;
        border-style: solid;
        border-width: 0 250px 20px 0;
        border-color: transparent @spectrum_red transparent transparent;
    }    
}

/* Product pages */
div.productimage{
    width: 100%;
    border: 2px solid @spectrum_grey;
    display: inline-block;
    min-height: 200px;
    transition: all 0.3s;
    overflow: hidden;
    img{
        width: 100%;
        &:hover{
            transition: all 0.3s;
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            overflow: hidden;
        }
    }

}
div.productimage-sub{
    width: 100%;
    border: 2px solid @spectrum_grey;
    display: inline-block;    
    overflow: hidden;       
    img{
        width: 100%;        
    }

}
div.producttext{
    width: 100%;    
    display: inline-block;
    min-height: 200px;    
}

h1.categories{
    font-size: 14px;
}

h5.tags{
    font-size: 12px;
    color: @spectrum_red;
    margin-top: 35px;
}

span.productcode{
    font-size: 18px;
}
div.price{
    text-align: right;
}
div.product-table{
    width: 100%;
}

table.productinfo{
    width: 100%;
    border: 1px solid @spectrum_grey;
    thead.spectrum{
        background-color: @spectrum_red;
        color: @spectrum_white;
        padding: 5px;
        border: 1px solid @spectrum_grey;
        th{
            padding: 5px;
            border: 1px solid @spectrum_grey;
        }        
    }
    tbody{
        tr{
            td{
                padding: 5px;
                border: 1px solid @spectrum_grey;
            }
        }
    }
}


/* Cookie Consent */
.js-cookie-consent{
    &.cookie-consent{
        width: 100%;
        background-color: @spectrum_red;
        color: @spectrum_white;
        text-align: center;
        padding: 20px;        
        button.js-cookie-consent-agree{
            &.cookie-consent__agree{
                border: 2px solid @spectrum_white;
                margin: 5px;
                background-color: @spectrum_black;
                color: @spectrum_white;
                padding: 5px;
                transition: all 0.5s;
                &:hover{
                    background-color: @spectrum_grey;
                    padding: 5px;
                    transition: all 0.5s;
                }
            }
        }
    }
}


/* News Article */

div.news-article{
    i.user{
       padding-left: 10px;
    }
    div.feature-image{
        width: 100%;
        img{
            width: 100%;
            height: 200px;
            margin-bottom: 10px;
        }
    }
    a{
        color: @spectrum_grey;
        text-decoration: none;
        &:hover{
            color: @spectrum_red;
        }
    }
}

/* Footer */

div.footerhead{
    background-color: @spectrum_grey;
    color: @spectrum_white;
    padding: 5px;
    h5{
        font-size:18px;
    }
}
a.footerlink{
    color: @spectrum_red;
    text-decoration: none;
    &:hover{
        color: @spectrum_white;
        text-decoration: none;
    }
}

/* Product Category page */

div.categoryholder{
    padding: 20px;
    
    div.category-image{
        width: 100%;
        border: 5px solid @spectrum_red;
        min-height: 100%;
        overflow: hidden;
        img{
            transition: all 0.3s;
            width: 100%;
            max-height: 300px;
            height: 300px;
            &:hover{
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
                transition: all 0.3s;
            }
        }
    }
    div.category-name{
        background-color: @spectrum_red;
        color: @spectrum_white;
        padding: 10px 5px;
        text-align: center;
        a{
            color: @spectrum_white;
            text-decoration: none;
            transition: all 0.3s;
            &:hover{
                color: @spectrum_black;
                transition: all 0.3s;
            }
        }
    }
}

/* Data Pages */

div.datacontainer{
    border: 5px solid @spectrum_grey;
    margin-top: 30px;
    div.sheet-image{
        width: 100%;
        img{
            width: 100%;
        }
    }
    div.sheet-name{
        background-color: @spectrum_red;
        padding: 20px;
        text-align: center;
        color: @spectrum_white;
        h5{
            font-size: 16px;
        }
    }
    div.actions{
        width: 100%;        
    }
}

/* Materials */

table.materials{
    width: 100%;
    thead{
        tr{
            td{
                background-color: @spectrum_red;
                color: @spectrum_white;
                padding: 10px;
                border: 1px solid @spectrum_grey;
            }
        }
    }
    tbody{
        tr{
            &:hover{
                background-color: @spectrum_grey;
                color: @spectrum_white;
            }
            td{
                border: 1px solid @spectrum_grey;
                padding-left: 10px;                
            }
        }
    }    
}