/* Styling for Spectrum Industrial Website */
body{
    background-color: @spectrum_black;
    color: @spectrum_white;
}

nav{
    &.bg-dark-spectrum{
        background-color: @spectrum_black;
        i{
            color: @spectrum_white;
            &:hover{
                color: @spectrum_red;
            }
        }
    }
}